/* Estilos generales */

h1{
    color:DarkSlateGray;
}
h2{
    color:#3b3b3b;
}
h3{
    color:rgb(50,50,50);
}
body{
    background:grey;
}
header,main,footer{
    background:white;
    width:800px;
    padding:30px;
    margin:auto;
}
*{
   font-family:sans-serif; 
}
/* Maquetación del menú de navegación */

nav ul li{
    display:inline-block;
    padding:10px;
}
nav ul li a{
    text-decoration: none;
    color:inherit;
}





